:root
{
   --green:#38ccae;
   --dark:#1b1b1b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--green);
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /*centrowanie w poziomie*/
    /*align-items: center; /*centrowanie w pionie*/
    background: linear-gradient(to right top,var(--dark),var(--green));
    overflow: hidden; /* chowamy scrollbary */
    color: white;/* do calego body bialy kolor */
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    font-size: 26px;
    padding: 15px;
    text-align: center;
    
}

p{
    font-size: 19px;
    padding: 15px;
    text-align: center;
}
a{
    color: var(--green);
    font-size: 21px;
    text-decoration: none;
    position: relative; /* dzieki relativ kreska sie ustawia do tego miejsca */
}

a:after{
    content: "";
    width: 0;
    height: 3px;
    background: #38ccae;
    background: linear-gradient(90deg, transparent,var(--green));
    transition: width 0.3s;
    position: absolute;/* dzieki temu nie wplyw na nic innego */
    top: 100%;
    left: 0;
}

a:hover:after{
    width: 100%;/* w link border szer 0 a na hover 100% */
}

.container{
    width: 1000px;
    height: 75vh;
    background: rgba(0,0,0,0.75);
    background: linear-gradient(to right top, rgba(0,0,0,0.75),rgba(0,0,0,0.25));
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 20px;
    position: relative;/*dzeki relative wejdzie pod spod diva */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(3px);
    top: 50px;
    
    
   
    
}

.bg_img{
    position: absolute;/*dzeki absolute nie bedzie przesuwał elementu */
   
}

.bg_img--button{
    position: absolute;/*dzeki absolute nie bedzie przesuwał elementu */
    top: 70%;/*ustawia element u gory */
    right: 0%;
    animation: slidedown 30s linear infinite;/*splywa z gory na dół a infinite sprawia ze to sie powtarza lineat płynnie przechodzi */
    height: 28vh; /* nadajemy obiektowi zawsze wysokość 30% ekranu lub jak chcemy */ 
}

.bg_img--dots{
    top:0%;
    left: 0%;
    width:auto ;
    height: 17vh;
    position: absolute;
    animation: rotate 30s linear infinite;
    
}



@keyframes slidedown{/* animacja */
    from {transform: translateX(-140vh)}
    to {transform: translateX(100vh)}
}

@keyframes rotate{/* animacja */
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.logo{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 20px;
    
}

.logo img{
    width: 100%;
    
}

.header{
    padding:15px ;
    
    
}

